$header-height: 95px;
$footer-height: 87px;

main {
  position: absolute;
  top: $header-height;
  bottom: $footer-height;
  overflow-y: auto;
  .container-fluid {
    padding: 50px 170px;
  }
}

header {
  font-family: Fredoka One;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;

  .navbar {
    background: linear-gradient(90deg, #e39344 -14.44%, #b63563 69.6%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    height: $header-height;
  }

  .app-navbar-right {
    padding-right: 57px;
    flex-direction: row-reverse;
  }

  .navbar-collapse.show {
    background: linear-gradient(90deg, #e39344 -14.44%, #b63563 69.6%);
  }

  .navbar-collapse:not(.show) .nav-item + .nav-item {
    padding-left: 37px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  background: #f7f7f7;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  letter-spacing: 0.1em;

  .container,
  .d-flex {
    height: $footer-height;
  }
}
